.apply-video-section{
    padding-top: 7em;
}
.apply-text{
    width: 900px;
}
.apply-content{
display: flex;
    justify-content: space-around;
}
@media(max-width: 480px){
    .apply-text{
        width: 300px;
    }
    .apply-content{
        margin: 2em;
        display: flex;
        flex-direction: column;
    }
    .apply-header-text{
        width: 350px;

    }
    .apply-header-text h1{
        font-size: 48px!important;
    }
}