.topnav, .addmenubg{
    z-index: 999;
}


@keyframes menubganimate {
    0%   {
        background-color: rgba(41, 43, 44, .1);

    }
    100% { background-color: rgba(41, 43, 44, .8);
       }
}

@keyframes menuHover {
    0%   {
      font-size: 16px;

    }
    100%{
        font-size: 20px;
    }

}

@keyframes menuHoverOut {
    0%   {
        font-size: 20px;

    }
    100%{
        font-size: 16px;
    }

}

.mobileheader{
    display: none;
}

@media (min-width: 769px){

    .topnav li a:hover, .addmenubg li a:hover{
        animation: menuHover .5s forwards;
        text-decoration: none;    }

    .addmenubg{
        animation: menubganimate 2s forwards;
        position: fixed;
        height: 115px;
        width: 100%;
        padding-top: 3em;
    }
    .topnav{
        position: fixed;
        height: 120px;
        width: 100%;
        padding-top: 3em;
    }
    .topnav ul, .addmenubg ul{
        list-style: none;
        width: 100%;
    }
    .topnav ul li a, .addmenubg ul li a{
        animation: menuHoverOut 1s;
        color:#ffffff;
    }
    .topnav ul li:nth-child(3), .addmenubg ul li:nth-child(3){
        margin-top: -1em;
        margin-left: -5em;
    }
    .mobilenav{
        display: none;
    }

}

@media (max-width: 769px){


    .mobileheader{
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 9999;
        position: fixed;
        width: 100%;

    }

    .hamburgermenu{
        margin:2em 0 0 2em;
        z-index: 99999;
    }
    .openmenu{
        margin:1em 0 0 1em;
    }
    .closemenu{
        position: absolute;
        top: -31.5px;
        left: 8em;
    }

    .mobilenav{
        position: fixed;
        height: 100%;
        z-index: 9999;
    }
    .mobilenavshow{
        position: fixed;
        width:220px;
        height: 100%;
    }
    .mobilenavhidden{
        position: fixed;
        width:220px;
        height: 100%;
        margin-left: -400px;
    }
    .mobilenav ul{
        line-height: 2em;
        list-style: none;
        padding-top: 3.5em;
        font-size: 25px;

    }

.mobilenav ul li a{
    color: #fff;
}
    /*.mobilenav ul li img{*/
       /*margin-left: 1em;*/
    /*}*/
    .mobilenavslideout{
        margin-top: -125px;
        width:300px;
        height: 200%;
        background-color: rgba(64, 64, 64, .93);
    }
    .topnav, .addmenubg{
        position: fixed;
       display: none;
    }
    .topnav ul li, .addmenubg ul li {
        display: none;

    }
    .toprow {
        padding-top: 3em!important;
    }


}