.header{
     background: url(../../../images/AdobeStock_126191478.png) no-repeat center center;
     top: 0;
     left: 0;
     max-width: 4000px;
     min-height: 100%;
     background-size: cover;
     padding-top: 1em;
     color: white;
     font-size: 24px;
 }


@media (max-width: 1025px){
    .section2{
        min-height: 1000px;
    }
}

.white-ghost-button{
    background-color: rgba(255, 255, 255, .3);
    border: solid;
    border-radius: 10px!important;
    border-color: white!important;
    border-width: 5px!important;
    color: white;
    font-size: 50px!important;
    width: 350px;

}
.header-top{
margin-top: 7em;
    margin-bottom: 5em;
}


@media (max-width: 480px){
    .header-top{
        margin-top: 1.5em;
    }
}