#contact{
    color: #282828;
}
.toprow{
padding-top: 7em;
}
.shift-right{
    padding-left: 3em;
}
.header2{
    background: url(../../images/contactbg.png) no-repeat center center;
    top: 0;
    left: 0;
    max-width: 4000px;
    min-height: 100%;
    background-size: cover;
    color: white;
    font-size: 24px;
}
#message{
    height:150px;
}

.message-box{
    text-align: center;
    padding: 1em;
    background-color: rgba(216, 216, 216, .49);
    width: 100%;
    min-height: 246px;
    font-size: 36px;
    font-weight: bold;
}
input{
    height: 4em;
}
.formbutton{
    margin-top: 2em;
    margin-bottom: 2em;
}
.center-this{
    text-align: center;
}
@media(max-width: 480px) {
    .shift-right{
        padding-left: 0;
    }
}