.students{
    background: #ffffff;
    top: 0;
    left: 0;
    max-width: 4000px;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 7em;
    color: #000000;
    font-size: 24px;
}
.students .singleblurb{
    padding: 2em 5em 2em 5em;
    display: flex;
}

.singleblurb p{
    margin-left: 5em;
}
.singleblurb img {
    width: 150px;
    height: 150px;
}

@media (max-width: 990px){
    .singleblurb img {
       width: 150px;
        height: 150px;
    }
    .students .singleblurb{
        padding: 2em 5em 2em 5em;
        display: flex;
        flex-direction: column;
    }
    .singleblurb p{
        margin-left: 0;
    }
    .students .singleblurb{
        padding: 2em 1em 2em 1em;
        display: flex;
    }
}